[submodule "OCA/field-service"]
	path = OCA/field-service
	url = git@github.com:OCA/field-service.git
	branch = 14.0

[submodule "OCA/helpdesk"]
	path = OCA/helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 14.0
